* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    background-color: #FAFAFA;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.s__dashboard {
    width: 100vw;
    height: 90vh;
    margin: 1.5rem 1.5rem;
}

.d__upCharts {
    display: grid;
    grid-template-columns: 50% 50%;
}

.d__map {
    height: 60vh;
    margin-right: 1.5rem;
    box-shadow: -6px 12px 15px 0px rgba(0,0,0,0.1);
}

.d__barsChart {
    display: grid;
    grid-template-columns: 50% 50%;
    box-shadow: -6px 12px 15px 0px rgba(0,0,0,0.1);

}

.d__barChart {
    margin-right: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d__timelines{
    margin-top: 3%;
    
}


