* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    background-color: #FAFAFA;

}

main{
    margin: 2rem 2rem ;
}

.s__dashboard {
    width: 95vw;
    height: 90vh;

}

.d__upCharts {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1.5rem;
}

.d__map  {
    height: 60vh;
    box-shadow: -6px 12px 15px 0px rgba(0,0,0,0.1);
}


.d__barsChart {
    height: 60vh;
    display: grid;
    grid-template-columns: 50% 50%;
    box-shadow: -6px 12px 15px 0px rgba(0,0,0,0.1)

}

.d__barChart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d__timelines{
    margin-top: 3%;
    
}


@media screen and (max-width : 1024px) {
  

   
    .d__upCharts {
        display: grid;
        grid-template-columns: 50% ;
    }

    .d__map {
        width: 90vw;
    }

    .d__barsChart {
        width: 90vw;
    }

    .d__timelines {
        width: 90vw;
    }

    .d__timelines .canvas {
        width: 90vw;
    }
}



@media screen and (max-width: 765px) {
    .d__barsChart {
        grid-template-columns: 100%;
    }

    .s__dashboard {
        width: 95vw;
        height: 90em;
    
    }

    .d__timelines{
       padding-top: 50%;
        
    }

}

